{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <section class="container text-center">
        <div class="card">
            <img width="20%" src="{{ asset('img/logo_site.png') }}" />
            <div class="container">
                <form method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-lg btn-primary" type="submit">
                        Valider
                    </button>
                </form>
            </div>
        </div>

    </section>

{% endblock %}
